In [121]:
import pandas as pd
from sqlalchemy import create_engine

In [122]:
winners_file = "fifa-world-cup/WorldCups.csv"
winners_data_df = pd.read_csv(winners_file)
winners_data_df.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [123]:
winners_cols = ["Year", "Country", "Winner", "Runners-Up", "Third", "Fourth", "GoalsScored"]
winners_transformed = winners_data_df[winners_cols].copy()
win_trans_df = winners_transformed[(winners_transformed.Year >= 1998) & (winners_transformed.Year < 2015)]
win_trans_df

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored
15,1998,France,France,Brazil,Croatia,Netherlands,171
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161
17,2006,Germany,Italy,France,Germany,Portugal,147
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171

In [124]:
ranks_file = "wc_rank.csv"
ranks_df = pd.read_csv(ranks_file)
ranks_df.head()

        Team  Rank  Year
0    Germany     2  1998
1     Brazil     1  1998
2      Italy    10  1998
3      Spain     3  1998
4  Argentina    19  1998

In [125]:
years=[]
country=[]
position=[]
rank=[]
total_goals_scored=[]

for index, each in win_trans_df.iterrows():
    years.append(each['Year'])
    country.append(each['Winner'])
    position.append(1)
    total_goals_scored.append(each['GoalsScored'])
    rank.append(ranks_df[(ranks_df.Year == (each['Year'])) & (ranks_df.Team == (each['Winner']))].Rank.iloc[0])

    years.append(each['Year'])
    country.append(each['Runners-Up'])
    position.append(2)
    total_goals_scored.append(each['GoalsScored'])
    rank.append(ranks_df[(ranks_df.Year == (each['Year'])) & (ranks_df.Team == (each['Runners-Up']))].Rank.iloc[0])
    
    years.append(each['Year'])
    country.append(each['Third'])
    position.append(3)
    total_goals_scored.append(each['GoalsScored'])
    rank.append(ranks_df[(ranks_df.Year == (each['Year'])) & (ranks_df.Team == (each['Third']))].Rank.iloc[0])
    
    years.append(each['Year'])
    country.append(each['Fourth'])
    position.append(4)
    total_goals_scored.append(each['GoalsScored'])
    rank.append(ranks_df[(ranks_df.Year == (each['Year'])) & (ranks_df.Team == (each['Fourth']))].Rank.iloc[0])
    
summary_df = pd.DataFrame({"Years":years,
                      "Country":country, "Position":position, "Rank":rank, "Total_Goals_Tournament":total_goals_scored})                         
summary_df

    Years         Country  Position  Rank  Total_Goals_Tournament
0    1998          France         1     7                     171
1    1998          Brazil         2     1                     171
2    1998         Croatia         3    21                     171
3    1998     Netherlands         4    12                     171
4    2002          Brazil         1     3                     161
5    2002         Germany         2    11                     161
6    2002          Turkey         3    23                     161
7    2002  Korea Republic         4    43                     161
8    2006           Italy         1    12                     147
9    2006          France         2     5                     147
10   2006         Germany         3    16                     147
11   2006        Portugal         4    10                     147
12   2010           Spain         1     2                     145
13   2010     Netherlands         2     3                     145
14   2010         Germany         3     5                     145
15   2010         Uruguay         4    25                     145
16   2014         Germany         1     2                     171
17   2014       Argentina         2     3                     171
18   2014     Netherlands         3     8                     171
19   2014          Brazil         4    11                     171

In [126]:
Matches_file = "fifa-world-cup/WorldCupMatches.csv"
Matches_df = pd.read_csv(Matches_file)
Matches_df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [127]:
matches_filtered = Matches_df[Matches_df['Year'].isin([1998,2002,2006,2010,2014])]
matches_filtered.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
516,1998,10 Jun 1998 - 17:30,Group A,Stade de France,Saint-Denis,Brazil,2,1,Scotland,,80000.0,1,1,GARCIA ARANDA Jose Maria (ESP),TRESACO GRACIA Fernando (ESP),ARANGO Jorge Luis (COL),1014,4000,BRA,SCO
517,1998,10 Jun 1998 - 21:00,Group A,La Mosson,Montpellier,Morocco,2,2,Norway,,29800.0,1,1,ANPRASERT Pirom (THA),ABDUL HAMID Halim (MAS),WICKRAMATUNGA Nimal (SRI),1014,8725,MAR,NOR
518,1998,11 Jun 1998 - 17:30,Group B,Stade du Parc Lescure,Bordeaux,Italy,2,2,Chile,,31800.0,1,1,BOUCHARDEAU Lucien (NIG),DANTE Dramane (MLI),MANSRI Mohamed (TUN),1014,8726,ITA,CHI
519,1998,11 Jun 1998 - 21:00,Group B,Stade Municipal,Toulouse,Cameroon,1,1,Austria,,33500.0,0,0,GONZALEZ CHAVEZ Epifanio (PAR),GALVAN Celestino (PAR),SALINAS Reynaldo (HON),1014,8727,CMR,AUT
520,1998,12 Jun 1998 - 14:30,Group D,La Mosson,Montpellier,Paraguay,0,0,Bulgaria,,29800.0,0,0,ALZEID Abdulrahman (KSA),SALIE Achmat (RSA),GHADANFARI Hussain (KUW),1014,8728,PAR,BUL

In [128]:
#matches_grouped_data =matches_filtered.groupby("Year")
#matches_grouped_data.count().head()


grouped_matches_home =matches_filtered.groupby(['Year','Home Team Name'])['Home Team Goals'].sum()
grouped_matches_home_df = grouped_matches_home.reset_index()
grouped_matches_home_df

grouped_matches_away=matches_filtered.groupby(['Year','Away Team Name'])['Away Team Goals'].sum()
grouped_matches_away_df = grouped_matches_away.reset_index()
grouped_matches_away_df

new_df_1 = grouped_matches_home_df.rename(columns={"Home Team Name": "Country", "Home Team Goals": "Goals_scored"})
new_df_1
new_df_2 = grouped_matches_away_df.rename(columns={"Away Team Name": "Country", "Away Team Goals": "Goals_scored"})
new_df_2

concat_1 = pd.concat([new_df_1,new_df_2 ])
concat_1

concat_2 = concat_1.sort_values(by=['Year'],ascending=True)
concat_2

total_goals =concat_2.groupby(['Year','Country'])['Goals_scored'].sum()
total_goals_df = total_goals.reset_index()
total_goals_df

     Year                     Country  Goals_scored
0    1998                   Argentina            10
1    1998                     Austria             3
2    1998                     Belgium             3
3    1998                      Brazil            14
4    1998                    Bulgaria             1
5    1998                    Cameroon             2
6    1998                       Chile             5
7    1998                    Colombia             1
8    1998                     Croatia            11
9    1998                     Denmark             9
10   1998                     England             7
11   1998                      France            15
12   1998                     Germany             8
13   1998                        Iran             2
14   1998                       Italy             8
15   1998                     Jamaica             3
16   1998                       Japan             1
17   1998              Korea Republic             2
18   1998                      Mexico             8
19   1998                     Morocco             5
20   1998                 Netherlands            13
21   1998                     Nigeria             6
22   1998                      Norway             5
23   1998                    Paraguay             3
24   1998                     Romania             4
25   1998                Saudi Arabia             2
26   1998                    Scotland             2
27   1998                South Africa             3
28   1998                       Spain             8
29   1998                     Tunisia             1
..    ...                         ...           ...
131  2014                   Australia             3
132  2014                     Belgium             8
133  2014                      Brazil            15
134  2014                    Cameroon             1
135  2014                       Chile             7
136  2014                    Colombia            15
137  2014                  Costa Rica             6
138  2014                     Croatia             6
139  2014               C�te d'Ivoire             4
140  2014                     Ecuador             3
141  2014                     England             2
142  2014                      France            12
143  2014                     Germany            29
144  2014                       Ghana             4
145  2014                      Greece             4
146  2014                    Honduras             1
147  2014                     IR Iran             1
148  2014                       Italy             2
149  2014                       Japan             2
150  2014              Korea Republic             3
151  2014                      Mexico             6
152  2014                 Netherlands            20
153  2014                     Nigeria             3
154  2014                    Portugal             4
155  2014                      Russia             2
156  2014                       Spain             4
157  2014                 Switzerland             7
158  2014                         USA             6
159  2014                     Uruguay             4
160  2014  rn">Bosnia and Herzegovina             4

[161 rows x 3 columns]

In [129]:
final_merge = pd.merge(summary_df,total_goals_df ,how='left', left_on=['Years','Country'], right_on = ['Year','Country'])
final_merge

final_merge_rename = final_merge.rename(columns={"Rank": "Rank_Fifa", "Goals_scored": "Goals_scored_countrywise","Position":"Position_Worldcup"})
final_merge_rename

,Years,Country,Position_Worldcup,Rank_Fifa,Total_Goals_Tournament,Year,Goals_scored_countrywise
0,1998,France,1,7,171,1998,15
1,1998,Brazil,2,1,171,1998,14
2,1998,Croatia,3,21,171,1998,11
3,1998,Netherlands,4,12,171,1998,13
4,2002,Brazil,1,3,161,2002,18
5,2002,Germany,2,11,161,2002,14
6,2002,Turkey,3,23,161,2002,10
7,2002,Korea Republic,4,43,161,2002,8
8,2006,Italy,1,12,147,2006,12
9,2006,France,2,5,147,2006,9
10,2006,Germany,3,16,147,2006,14
11,2006,Portugal,4,10,147,2006,7
12,2010,Spain,1,2,145,2010,8
13,2010,Netherlands,2,3,145,2010,12
14,2010,Germany,3,5,145,2010,16
15,2010,Uruguay,4,25,145,2010,11
16,2014,Germany,1,2,171,2014,29
17,2014,Argentina,2,3,171,2014,10
18,2014,Netherlands,3,8,171,2014,20
19,2014,Brazil,4,11,171,2014,15